@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Chipotle Headquarters 1401 Wynkoop St. Ste. 500<br />
    Denver, CO 80202<br />
    <abbr title="Phone">P:</abbr>
    1-303-595-4000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Contact@chipotle.com">Contact@chipotle.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@chipotle.com">Marketing@chipotle.com</a>
</address>