@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pricing</h2>
        <p>
            <ul style="list-style-type:none">
                <li><img src="~/Content/Images/ChickenImg.png" alt="Chicken" width="50" height="50" />Chicken  - $7.15</li>
                <li><img src="~/Content/Images/SteakImg.png" alt="Steak" width="50" height="50" />Steak    - $8.15</li>
                <li><img src="~/Content/Images/BarbacoaImg.png" alt="Barbacoa" width="50" height="50" />Barbacoa - $8.15</li>
                <li><img src="~/Content/Images/CarnitasImg.png" alt="Carnitas" width="50" height="50" />Carnitas - $7.60</li>
                <li><img src="~/Content/Images/SofritasImg.png" alt="Sofritas" width="50" height="50" />Sofritas - $7.15</li>
                <li><img src="~/Content/Images/FajitaVegImg.png" alt="Veggie" width="50" height="50" />Veggie   - $7.15</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="https://www.chipotle.com/menu">Menu &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nutrition</h2>
        <p>.</p>
        <p><a class="btn btn-default" href="https://www.chipotle.com/nutrition-calculator">Nutrition Calculator &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What's New</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://www.chipotle.com/whats-new">What's New &raquo;</a></p>
    </div>
</div>




