body {
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
}



/* navbar */
.navbar-default {
    background-color: #343233;
}

body {
    background: #FFFFFF;
}

.text {
    color: #006A40;
}

.dropdown {
    width: 900px;
    height: 35px;
}


hr {
    background-color: #006A40;
    border-color: #006A40;
    color: #006A40;
    height: 2px;
    border: 0;
}


.jumbotron {
    background-image: url('../Images/banner3.png');
}

    .jumbotron h1 {
        color: white;
    }

    .jumbotron p {
        color: white;
    }


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-default {
    color: #FFFFFF;
    background-color: #53392E;
    border: 2px solid #53392E;
    padding: 12px 20px;
    margin: 0;
    font-size: 30px;
    font-family: 'Trade Gothic LT Std No. 18';
    border-radius: 0;
    text-transform: uppercase;
}

    .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
        color: #FFFFFF;
        background-color: #441503;
        border-color: #441503;
    }

.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
        outline: none;
        outline-offset: none;
    }

@font-face {
    font-family: "TradeGothicLTStd.otf";
    font-style: normal;
    src: url(../fonts/TradeGothicLTStd.otf); /*if IE */
    src: local("TradeGothicLTStd"), url("../fonts/TradeGothicLTStd.otf") format("opentype"); /* non-IE */
}
