body {
    padding-top: 150px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
}



/* navbar */

.navbar-default {
    color: rgba(172, 157, 145, 1);
    background-color: rgba(83, 57, 46, 1);
}

.navbar {
    font-family: 'Trade Gothic LT Std No. 18';
    font-size: 45px;
}

    .navbar text {
        padding-top: 20px;
    }


.centered {
    padding-top: 45px;
}

.login {
    font-size: 20px;
}


body {
    background: #FFFFFF;
    font-family: HelveticaNeue;
}

.text {
    color: #FFFFFF;
    font-family: HelveticaNeue;
}

text {
    font-family: HelveticaNeue;
}

.dropdown {
    width: 900px;
    height: 35px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Trade Gothic LT Std';
}

hr {
    background-color: #A81512;
    border-color: #A81512;
    color: #A81512;
    height: 2px;
    border: 0;
}




.jumbotron {
    position: relative;
    background: url('Images/background.jpg') no-repeat center center;
    height: 50vh;
    background-size: 100% 100%;
}

    .jumbotron h1 {
        color: #FFFFFF;
        font-family: 'Trade Gothic LT Std No. 18';
    }

    .jumbotron p {
        color: #FFFFFF;
        font-family: HelveticaNeue;
    }


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-default {
    color: #FFFFFF;
    background-color: #53392E;
    border: 2px solid #53392E;
    padding: 12px 20px;
    margin: 0;
    font-size: 30px;
    font-family: 'Trade Gothic LT Std No. 18';
    border-radius: 0;
    text-transform: uppercase;
}

    .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
        color: #FFFFFF;
        background-color: #441503;
        border-color: #441503;
    }

.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
        outline: none;
        outline-offset: none;
    }

@font-face {
    font-family: "TradeGothicLTStd.otf";
    font-style: normal;
    src: url(../fonts/TradeGothicLTStd.otf); /*if IE */
    src: local("TradeGothicLTStd"), url("../fonts/TradeGothicLTStd.otf") format("opentype"); /* non-IE */
}


@font-face {
    font-family: "HelveticaNeue";
    font-style: normal;
    src: url(../fonts/HelveticaNeue.ttf); /*if IE */
    src: local("HelveticaNeue"), url("../fonts/HelveticaNeue.ttf") format("truetype"); /* non-IE */
}
